body {
  margin: 0;
}

header {
  height: 100px;
  width: 100%;
  background-color: darkgray;
  text-align: center;
}
header h2 {
  padding: 30px;
}
footer {
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
}
div.commande {
  background-color: grey;
  width: 300px;
  margin-left: 75px;
  height: auto;
}
